body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode body {
    background-color: #333;
    color: #f0f0f0;
}

.game-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add these dark mode styles */
.dark-mode .game-container {
    background-color: #111;
    color: #f0f0f0;
    border-color: #444;
}

.dark-mode button {
    background-color: #222;
    color: #f0f0f0;
    border: 1px solid #444;
}

.dark-mode button:hover {
    background-color: #333;
    border-color: #555;
}

h1 {
    font-size: 24px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
}

#emoji-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    max-height: 500px; /* Limit the number of emojis on the screen */
    overflow: auto;
}

.emoji {
    font-size: 32px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.emoji:hover {
    transform: scale(1.2);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    text-align: left;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .game-container {
        padding: 10px;
    }
}
